In [7]:
import pandas as pd
#import pyarrow.parquet as pq
year = '2023'
month = '05'
path_raw_file = '~/Documents/Kerja/source_code/GCP/airflow_bigquery/dataset/raw'
raw_file = f"yellow_tripdata_{year}-{month}.parquet"
path_to_transform_dataset = '~/Documents/Kerja/source_code/GCP/airflow_bigquery/dataset/transform'
dataset_transform_file = f"yellow_tripdata_{year}-{month}_transform.parquet"

In [8]:
df = pd.read_parquet(path_raw_file + '/' +raw_file)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-05-01 00:33:13,2023-05-01 00:53:01,0.0,7.80,1.0,N,138,43,1,33.8,7.75,0.5,8.60,0.00,1.0,51.65,0.0,1.75
1,1,2023-05-01 00:42:49,2023-05-01 01:11:18,2.0,8.10,1.0,N,138,262,1,35.9,10.25,0.5,9.50,0.00,1.0,57.15,2.5,1.75
2,1,2023-05-01 00:56:34,2023-05-01 01:13:39,2.0,9.10,1.0,N,138,141,1,35.2,10.25,0.5,10.70,6.55,1.0,64.20,2.5,1.75
3,2,2023-05-01 00:00:52,2023-05-01 00:20:12,1.0,8.21,1.0,N,138,140,1,33.1,6.00,0.5,2.24,0.00,1.0,47.09,2.5,1.75
4,1,2023-05-01 00:05:50,2023-05-01 00:19:41,0.0,7.90,1.0,N,138,263,1,31.0,10.25,0.5,9.85,6.55,1.0,59.15,2.5,1.75

In [9]:
df.shape[0]

3513649

In [10]:
count_filter = df.query('trip_distance > 0')
count_filter.shape[0]

3466754

In [6]:
save_filter_df = count_filter.to_parquet(f"{path_to_transform_dataset}/{dataset_transform_file}")
print(save_filter_df)

None